.toggle {
  width: ;
  height: ;
  border: none;
  cursor: pointer;

  background-image: url("___");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  
  &:hover,
  &:focus {
  ///
  }
  
  &:active {
  ///
  }

  // Change background image when class added:
  &.is-toggled {
    background-image: url("___");
  }
}
