.labeled-field {
  display: block;
  width: 100%;

  // Fancy styles for text:
  &__text {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: ;
    line-height: ;
    font-weight: ;
  }

  // Custom field container:
  &__object-container {
    position: relative;
  }

  // General styles for fields:
  &__object {
    box-sizing: border-box;
    width: 100%;
    font-size: ;
    line-height: ;
    color: ;
    border-color: ;
    border-style: ;

    &::placeholder {
      color: ;
    }
  }

  // Custom styles for input field:
  &--type--input &__object {
    padding: ;
    border-top: ;
    border-right: ;
    border-left: ;
    border-bottom-width: ;
  }

  // Custom styles for textarea:
  &--type--textarea &__object {
    min-height: ;
    padding: ;
    margin-top: ;
    border-width: ;
    resize: ;
  }

  // Color theme for text:
  &---theme--highlighted &__text {
    padding-top: ;
    color: ;

    // Draw color line after highlighted text:
    &::after {
      content: '';
      height: 1px;
      margin-left: 25px;
      flex-grow: 1;
      background-color: ;
    }
  }

  // Set position of icon in input field:
  &__icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    fill: ;
    fill-opacity: 0.2;
    pointer-events: none;
  }

  // Change input border color on component hover and focus:
  &:hover &__object,
  &:focus &__object {
    border-color: ;
  }

  // Change icon fill color on component hover and focus:
  &:hover &__icon,
  &:focus &__icon {
    fill: ;
    fill-opacity: ;
  }
}
