.control {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: ;
  padding-bottom: ;
  box-sizing: border-box;
  border: ;
  background-color: ;

  // Control text styles:
  &__text {
    font-size: ;
    line-height: ;
    font-weight: ;
    color: ;
    text-transform: uppercase;
  }

  // Change control background on component hover and focus:
  &:hover,
  &:focus {
    background-color: ;
  }

  // Change text color on control hover and focus:
  &:hover &__text,
  &:focus &__text {
    color: ;
  }

  // Change control text color on component click:
  &:active &__text {
    color: ;
  }
}
